.contactanos {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Teko', sans-serif;
    
}
.contactanos h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: aliceblue;
    background-color: #000000;
}
.contactanos p{
    background-color: rgba(65, 36, 4, 0.548);
    color: aliceblue;
    font-weight: 500;
}