@media (max-width:768px) {
    .imgRespon {
        max-width: 100%;
        height: auto;
    }
}



.primerDiv {
    background-image: url(../imagenes/pexels-pixabay-50675.jpg);
    width: 100%;
}

@media (max-width:768px) {
    .primerDiv {
        width: 100%;
        height: auto;
    }
}

.sectionNosotrs {
    width: 90%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .sectionNosotrs {
        width: 100%;
        height: auto;
    }
}

@media (max-width:768px) {

    .envios {
        padding-left: 10px;
    }
}

.portadaResp {

    max-width: 100%;
    height: 200px;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Teko', sans-serif;
}